* {
  font: inherit;
  margin: 0;
  border: 0;
}

:root {
  --background-color: #e3dac9; 
  --secondary-color: #77815c;
  --active-color: #5c5c5c;
  --delay: 0;
  --duration: 800ms;
  --iterations: 1;
}

body {
min-height: 100vh;
background-color: var(--background-color);
font-family: 'Lato', sans-serif;
font-weight: 100;
}

.lg-container {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.container {
margin: auto;
max-width: 55em;
text-align: center;
}

h1 {
font-size: 3em;
font-weight: bold;
text-align: center;
float:none;
color: var(--secondary-color)
}

h2 {
font-size: 2em;
text-align: center;
color: var(--secondary-color);
}

.header {
max-width: 75em;
margin: 0 auto;
padding: 0 2.5em;
text-align: center;
display: inline-block;
}

.header a {
display: inline-block;
line-height: 2rem;
margin: 0.7rem;
color: var(--secondary-color);
font-size: 1.5rem;
transition: color 0.15s ease-in-out;
text-decoration: none;
cursor:pointer !important;
}

.header a:hover,
.header a:focus {
color: var(--disabled-color);
}

img {
width: 100%;
height: 75%;
}

@keyframes gradient-animation {
0% {
  background-position: 0% 0;
}
100% {
  background-position: 100% 0;
}
}

/* https://codepen.io/equinusocio/pen/KNYOxJ */
span,
.header a {
  color: var(--secondary-color);
  font-weight: bold;
animation-delay: var(--animation-delay, 2s);
animation-iteration-count: var(--iterations, 1);
animation-duration: var(--duration, 800ms);
animation-fill-mode: both;
animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

span, .header a {
--animation-delay: var(--delay, 0);
--animation-duration: var(--duration, 800ms);
--animation-iterations: var(--iterations, 1);
position: relative;
animation-name: clip-text;
white-space: nowrap;
cursor: default;

&::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: text-revealer;
}
}

@keyframes clip-text {
from {
  clip-path: inset(0 100% 0 0);
}
to {
  clip-path: inset(0 0 0 0);
}
}

@keyframes text-revealer {
0%, 50% {
  transform-origin: 0 50%;
}
60%, 100% {
  transform-origin: 100% 50%;		
}

60% {
  transform: scaleX(1);
}

100% {
  transform: scaleX(0);
}
}

.main-img {
  position: relative;
  display: block;
  overflow: hidden;
  width: 15em;
  height: 15em;
  margin: 4em auto 2em auto;
  padding: 0.1em;
  background: radial-gradient(circle, #ffffff, #e0e0e0);
  border-radius: 50%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
  animation: logo 0.25s ease-out 0.1s 1 normal forwards;
}

#main-img:hover {
  transform: scale(1.05) rotate(-5deg);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.01), 0 6px 8px rgba(0, 0, 0, 0.6);
}

#main-img::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

#main-img:hover::after {
  width: 120%;
  height: 120%;
  opacity: 1;
}

@keyframes logo {
  0%   { transform: rotate(180deg) scale(0.1); opacity: 100; }
  70%  { transform: scale(1.4); opacity: 1; }
  100% { transform: scale(1); opacity: 1; }
}


